<!DOCTYPE html>
<html>
<head>
  <title>RailsYelpMvp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body>
  <div class='card'>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="#">
        <%#= link_to image_tag("https://cutt.ly/Zk9HGD2"), restaurants_path, class: 'img' %>
        <%= image_tag "https://cutt.ly/Zk9HGD2", alt: "alttext" %>
        <!-- <img src="https://cutt.ly/Zk9HGD2" /> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active"> -->
            <%= link_to 'Restaurants', restaurants_path, class: 'btn btn-ghost btn-sm m-2' %>
            <!-- </li> -->
            <li class="nav-item">
              <%= link_to 'Add Restaurant' , new_restaurant_path, class: 'btn btn-outline-danger btn-sm rounded-pill m-2'%>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <%= yield %>
  </body>
  </html>
